
@mixin box() {
    outline: none;
    border: solid;
    border-color: $blueviolet;
    background:$black;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
   
 }
 
 
  body{
   font-family:Verdana, Geneva, Tahoma, sans-serif ;
   
  }
  
 #contact{
   height:auto;
   width:100vw ;
   display: grid;
   place-content: center;
   background-size: 100% 10rem;
   background-position: top;
   text-transform:uppercase ;
   color:$blueviolet;
 
   h1{
     margin: 10rem 0 ;
     font-size: 2.5rem;
     text-align: center;
 
     span{
       color:$violet;
       font-style:italic;
     }
 
   }
   .contact-container{
     width: 90vw;
 
     form{
 
        .column{
         display: grid;
         grid-template-columns: repeat(2,minmax(25rem,1fr));
         grid-gap: 2rem;
 
         .box{
           @include box();
               height:4rem ;
               padding: 0 2rem ;
 
               &::placeholder{
                 color: #fff;
               }
         }
 
        }
        .msg-box{
         width: 100%;
         resize: none;
         height: 10rem;
         padding: 1rem 2rem;
         margin-top: 2rem;
         @include box();
 
         &::placeholder{
           color: #fff;
         }
       
       }
 
     }
     input[type="submit"]{
       @include box();
       padding: 1rem 2rem;
       margin: 2rem 0;
       background: $black;
       cursor: pointer;
 
 
       &:hover{
         background:$blueviolet;
       }
     }
  }
  
 }
 
 @media (max-width:991px){
   html{
     font-size: 50%;
   }
 }
 
 @media(max-width:768px){
   #contact{
     .contact-container{
       form{
         .column{
 
           grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
         }
 
       }
 
 
     }
 
   }
 }