    $blueviolet: blueviolet;
    $white: white;
    $black: black;
    $violet: violet;
    $background:linear-gradient(blue, blueviolet,violet);

    $font-size: 1.8rem;
    $font-nunito:'nunito';
    
    